#modal {
    /* esse fixed com o top 0 é que tá botando por cima sem scroll*/
    position: fixed;
    top:0;

    /* isso aqui faz ocupar a tela inteira */
    height: 100vh;
    width: 100vw;

    /* se bota mais 2 digitos no hexadecimal da cor começa a trabalhar com o alpha */
    background-color: #0e0a14ef;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms;
}

#modal.hide {
    display: none;

}

#modal .content {
    color: white;
    width: 420px
}

#modal  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

#modal .header a {
    background-image: url("../assets/x.svg");
    width: 20px;
    height: 20px;
    display: flex;
    /* fonte tão pequena que não da pra ler, mas pra acessibilidade ainda tá lá o fechar */
    font-size: 0.01px;
}

#modal .header h1 {
    color:  white;
    font-size: 36px;
    line-height: 42px;
    
}

#modal form label {
    font-size: 14px;
    line-height: 16px;
    /* tem que botar o block pq senão o label não pega o margin bottom pq ele é um display inline */
    display:block;
    margin-bottom: 8px;
}

#modal form .field {
    display: flex;
}

#modal form input {
    flex:1;
    background-color: #f0f0f5;
    border-radius: 8px 0px 0px 8px;
    border: 0;

    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;

}

#modal form button {
    width: 72px;
    height: 72px;
    
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0px 8px 8px 0px;
}

#modal form button:hover {
    background-color: #2fb85e;
    transition: 400ms;

}

/* para o modal do point created */
#modal.point .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.point h1 {
    color: white;
    margin-top: 32px;
}